{{> header }}
<div class="content-wrapper">
    <div class="center-all">
        {{#each clickedRoom }}
        <h2 class="address-detail">{{ this.address }}</h2>
        <div class="room-image-block">
            <img src="{{ this.image }}" class="room-image-detail" alt="">
        </div>
        <div class="room-properties">
            <h5 class="property-title">Type<span class="property-info"> {{ this.type }}</span></h5>
            <h5 class="property-title">Locatie<span class="property-info"> {{ this.address }}</span></h5>
            <h5 class="property-title">Oppervlakte<span class="property-info"> {{ this.surface }} m²</span></h5>
            <h5 class="property-title">Prijs<span class="property-info">€ {{ this.rentalPrice }}</span></h5>
            <h5 class="property-title"> Bemeubeld<span class="property-info"> {{ this.furnished }}</span></h5>
            <h5 class="property-title">Verdiepingen<span class="property-info"> {{ this.floors }}</span></h5>
            <h5 class="property-title">Aantal personen<span class="property-info"> {{ this.numberOfPersons }}</span></h5>
            <h5 class="property-title">Douche<span class="property-info"> {{ this.douche }}</span></h5>
            <h5 class="property-title">Toilet<span class="property-info"> {{ this.toilet }}</span></h5>
            <h5 class="property-title">Bath<span class="property-info"> {{ this.bath }}</span></h5>
            <h5 class="property-title">Waarborg<span class="property-info">€ {{ this.warrant }}</span></h5>
            <h5 class="property-title">Beschrijving<span class="property-info"> {{ this.description }}</span></h5>
            <h5 class="property-title">Eigenaar<span class="property-info"> {{ this.adminName }}</span></h5>
        </div>
        <div class="contact-owner">
            <button id="messageToOwner">Send message to owner</button>
            <button id="addToFavorites"><i class="fas fa-star"></i></button>
        </div>
        <div class="share-on-social-media">
            <a href="#" id="fbShareButton"><i class="fab fa-facebook-f"></i></a>
        </div>
        {{/each}}
    </div>
</div>
{{> footer }}